openapi: 3.0.1
info:
  title: 'VK api'
  version: '5.131'
servers:
  -
    description: 'Сервер VK'
    url: 'https://api.vk.com'
paths:
  /method/account.ban:
    get:
      parameters:
        -
          in: query
          name: owner_id
          description: 'null'
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.changePassword:
    get:
      parameters:
        -
          in: query
          name: restore_sid
          description: 'Session id received after the [vk.com/dev/auth.restore|auth.restore] method is executed. (If the password is changed right after the access was restored)'
          schema:
            type: string
        -
          in: query
          name: change_password_hash
          description: 'Hash received after a successful OAuth authorization with a code got by SMS. (If the password is changed right after the access was restored)'
          schema:
            type: string
        -
          in: query
          name: old_password
          description: 'Current user password.'
          schema:
            type: string
        -
          in: query
          name: new_password
          description: 'New password that will be set as a current'
          schema:
            type: string
            minLength: 6
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_changePassword_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.getActiveOffers:
    get:
      parameters:
        -
          in: query
          name: offset
          description: 'null'
          schema:
            type: integer
            default: 0
            minimum: 0
        -
          in: query
          name: count
          description: 'Number of results to return.'
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 100
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_getActiveOffers_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.getAppPermissions:
    get:
      parameters:
        -
          in: query
          name: user_id
          description: 'User ID whose settings information shall be got. By default: current user.'
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_getAppPermissions_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.getBanned:
    get:
      parameters:
        -
          in: query
          name: offset
          description: 'Offset needed to return a specific subset of results.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: count
          description: 'Number of results to return.'
          schema:
            type: integer
            default: 20
            minimum: 0
            maximum: 200
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_getBanned_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.getCounters:
    get:
      parameters:
        -
          in: query
          name: filter
          description: 'Counters to be returned.'
          schema:
            type: array
            items:
              type: string
              enum:
                - friends
                - messages
                - photos
                - notes
                - gifts
                - events
                - groups
                - sdk
                - friends_suggestions
                - notifications
                - app_requests
                - friends_recommendations
        -
          in: query
          name: user_id
          description: 'User ID'
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_getCounters_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.getInfo:
    get:
      parameters:
        -
          in: query
          name: fields
          description: "Fields to return. Possible values: *'country' — user country,, *'https_required' — is \"HTTPS only\" option enabled,, *'own_posts_default' — is \"Show my posts only\" option is enabled,, *'no_wall_replies' — are wall replies disabled or not,, *'intro' — is intro passed by user or not,, *'lang' — user language. By default: all."
          schema:
            type: array
            items:
              type: string
              enum:
                - country
                - https_required
                - own_posts_default
                - no_wall_replies
                - intro
                - lang
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_getInfo_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.getProfileInfo:
    get:
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_getProfileInfo_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.getPushSettings:
    get:
      parameters:
        -
          in: query
          name: device_id
          description: 'Unique device ID.'
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_getPushSettings_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.registerDevice:
    get:
      parameters:
        -
          in: query
          name: token
          description: 'Device token used to send notifications. (for mpns, the token shall be URL for sending of notifications)'
          schema:
            type: string
        -
          in: query
          name: device_model
          description: 'String name of device model.'
          schema:
            type: string
        -
          in: query
          name: device_year
          description: 'Device year.'
          schema:
            type: integer
        -
          in: query
          name: device_id
          description: 'Unique device ID.'
          schema:
            type: string
        -
          in: query
          name: system_version
          description: 'String version of device operating system.'
          schema:
            type: string
        -
          in: query
          name: settings
          description: 'Push settings in a [vk.com/dev/push_settings|special format].'
          schema:
            type: string
        -
          in: query
          name: sandbox
          description: 'null'
          schema:
            type: boolean
            default: 0
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.saveProfileInfo:
    get:
      parameters:
        -
          in: query
          name: first_name
          description: 'User first name.'
          schema:
            type: string
        -
          in: query
          name: last_name
          description: 'User last name.'
          schema:
            type: string
        -
          in: query
          name: maiden_name
          description: 'User maiden name (female only)'
          schema:
            type: string
        -
          in: query
          name: screen_name
          description: 'User screen name.'
          schema:
            type: string
        -
          in: query
          name: cancel_request_id
          description: 'ID of the name change request to be canceled. If this parameter is sent, all the others are ignored.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: sex
          description: "User sex. Possible values: , * '1' - female,, * '2' - male."
          schema:
            type: integer
            minimum: 0
            enum:
              - 0
              - 1
              - 2
        -
          in: query
          name: relation
          description: "User relationship status. Possible values: , * '1' - single,, * '2' - in a relationship,, * '3' - engaged,, * '4' - married,, * '5' - it's complicated,, * '6' - actively searching,, * '7' - in love,, * '0' - not specified."
          schema:
            type: integer
            minimum: 0
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 0
        -
          in: query
          name: relation_partner_id
          description: 'ID of the relationship partner.'
          schema:
            type: integer
            format: int64
            minimum: 0
        -
          in: query
          name: bdate
          description: 'User birth date, format: DD.MM.YYYY.'
          schema:
            type: string
        -
          in: query
          name: bdate_visibility
          description: "Birth date visibility. Returned values: , * '1' - show birth date,, * '2' - show only month and day,, * '0' - hide birth date."
          schema:
            type: integer
            minimum: 0
            enum:
              - 1
              - 2
              - 0
        -
          in: query
          name: home_town
          description: 'User home town.'
          schema:
            type: string
        -
          in: query
          name: country_id
          description: 'User country.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: city_id
          description: 'User city.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: status
          description: 'Status text.'
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_saveProfileInfo_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_invalid_address'
  /method/account.setInfo:
    get:
      parameters:
        -
          in: query
          name: name
          description: 'Setting name.'
          schema:
            type: string
            enum:
              - intro
              - no_wall_replies
              - own_posts_default
        -
          in: query
          name: value
          description: 'Setting value.'
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.setOffline:
    get:
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.setOnline:
    get:
      parameters:
        -
          in: query
          name: voip
          description: "'1' if videocalls are available for current device."
          schema:
            type: boolean
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.setPushSettings:
    get:
      parameters:
        -
          in: query
          name: device_id
          description: 'Unique device ID.'
          schema:
            type: string
        -
          in: query
          name: settings
          description: 'Push settings in a [vk.com/dev/push_settings|special format].'
          schema:
            type: string
        -
          in: query
          name: key
          description: 'Notification key.'
          schema:
            type: string
        -
          in: query
          name: value
          description: 'New value for the key in a [vk.com/dev/push_settings|special format].'
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.setSilenceMode:
    get:
      parameters:
        -
          in: query
          name: device_id
          description: 'Unique device ID.'
          schema:
            type: string
        -
          in: query
          name: time
          description: "Time in seconds for what notifications should be disabled. '-1' to disable forever."
          schema:
            type: integer
        -
          in: query
          name: peer_id
          description: "Destination ID. \"For user: 'User ID', e.g. '12345'. For chat: '2000000000' + 'Chat ID', e.g. '2000000001'. For community: '- Community ID', e.g. '-12345'. \""
          schema:
            type: integer
        -
          in: query
          name: sound
          description: "'1' — to enable sound in this dialog, '0' — to disable sound. Only if 'peer_id' contains user or community ID."
          schema:
            type: integer
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.unban:
    get:
      parameters:
        -
          in: query
          name: owner_id
          description: 'null'
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/account.unregisterDevice:
    get:
      parameters:
        -
          in: query
          name: device_id
          description: 'Unique device ID.'
          schema:
            type: string
        -
          in: query
          name: sandbox
          description: 'null'
          schema:
            type: boolean
            default: 0
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/ads.getDemographics:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: ids_type
          description: "Type of requested objects listed in 'ids' parameter: *ad — ads,, *campaign — campaigns."
          schema:
            type: string
            enum:
              - ad
              - campaign
        -
          in: query
          name: ids
          description: "IDs requested ads or campaigns, separated with a comma, depending on the value set in 'ids_type'. Maximum 2000 objects."
          schema:
            type: string
        -
          in: query
          name: period
          description: "Data grouping by dates: *day — statistics by days,, *month — statistics by months,, *overall — overall statistics. 'date_from' and 'date_to' parameters set temporary limits."
          schema:
            type: string
            enum:
              - day
              - month
              - overall
        -
          in: query
          name: date_from
          description: "Date to show statistics from. For different value of 'period' different date format is used: *day: YYYY-MM-DD, example: 2011-09-27 — September 27, 2011, **0 — day it was created on,, *month: YYYY-MM, example: 2011-09 — September 2011, **0 — month it was created in,, *overall: 0."
          schema:
            type: string
        -
          in: query
          name: date_to
          description: "Date to show statistics to. For different value of 'period' different date format is used: *day: YYYY-MM-DD, example: 2011-09-27 — September 27, 2011, **0 — current day,, *month: YYYY-MM, example: 2011-09 — September 2011, **0 — current month,, *overall: 0."
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getDemographics_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.getFloodStats:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getFloodStats_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/ads.getLookalikeRequests:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'null'
          schema:
            type: integer
        -
          in: query
          name: client_id
          description: 'null'
          schema:
            type: integer
        -
          in: query
          name: requests_ids
          description: 'null'
          schema:
            type: string
        -
          in: query
          name: offset
          description: 'null'
          schema:
            type: integer
            default: 0
            minimum: 0
        -
          in: query
          name: limit
          description: 'null'
          schema:
            type: integer
            default: 10
            minimum: 0
            maximum: 200
        -
          in: query
          name: sort_by
          description: 'null'
          schema:
            type: string
            default: id
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getLookalikeRequests_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.getMusicians:
    get:
      parameters:
        -
          in: query
          name: artist_name
          description: 'null'
          schema:
            type: string
            minLength: 3
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getMusicians_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                oneOf:
                  -
                    $ref: '#/components/schemas/api_error_weighted_flood'
                  -
                    $ref: '#/components/schemas/api_error_not_found'
  /method/ads.getMusiciansByIds:
    get:
      parameters:
        -
          in: query
          name: ids
          description: 'null'
          schema:
            type: array
            items:
              type: integer
              minimum: 0
            maxItems: 200
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getMusicians_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.getOfficeUsers:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getOfficeUsers_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.getPostsReach:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: ids_type
          description: "Type of requested objects listed in 'ids' parameter: *ad — ads,, *campaign — campaigns."
          schema:
            type: string
            enum:
              - ad
              - campaign
        -
          in: query
          name: ids
          description: "IDs requested ads or campaigns, separated with a comma, depending on the value set in 'ids_type'. Maximum 100 objects."
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getPostsReach_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.getRejectionReason:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: ad_id
          description: 'Ad ID.'
          schema:
            type: integer
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getRejectionReason_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.getStatistics:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: ids_type
          description: "Type of requested objects listed in 'ids' parameter: *ad — ads,, *campaign — campaigns,, *client — clients,, *office — account."
          schema:
            type: string
            enum:
              - ad
              - campaign
              - client
              - office
        -
          in: query
          name: ids
          description: "IDs requested ads, campaigns, clients or account, separated with a comma, depending on the value set in 'ids_type'. Maximum 2000 objects."
          schema:
            type: string
        -
          in: query
          name: period
          description: "Data grouping by dates: *day — statistics by days,, *month — statistics by months,, *overall — overall statistics. 'date_from' and 'date_to' parameters set temporary limits."
          schema:
            type: string
            enum:
              - day
              - month
              - overall
        -
          in: query
          name: date_from
          description: "Date to show statistics from. For different value of 'period' different date format is used: *day: YYYY-MM-DD, example: 2011-09-27 — September 27, 2011, **0 — day it was created on,, *month: YYYY-MM, example: 2011-09 — September 2011, **0 — month it was created in,, *overall: 0."
          schema:
            type: string
        -
          in: query
          name: date_to
          description: "Date to show statistics to. For different value of 'period' different date format is used: *day: YYYY-MM-DD, example: 2011-09-27 — September 27, 2011, **0 — current day,, *month: YYYY-MM, example: 2011-09 — September 2011, **0 — current month,, *overall: 0."
          schema:
            type: string
        -
          in: query
          name: stats_fields
          description: 'Additional fields to add to statistics'
          schema:
            type: array
            items:
              type: string
              enum:
                - views_times
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getStatistics_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.getSuggestions:
    get:
      parameters:
        -
          in: query
          name: section
          description: "Section, suggestions are retrieved in. Available values: *countries — request of a list of countries. If q is not set or blank, a short list of countries is shown. Otherwise, a full list of countries is shown. *regions — requested list of regions. 'country' parameter is required. *cities — requested list of cities. 'country' parameter is required. *districts — requested list of districts. 'cities' parameter is required. *stations — requested list of subway stations. 'cities' parameter is required. *streets — requested list of streets. 'cities' parameter is required. *schools — requested list of educational organizations. 'cities' parameter is required. *interests — requested list of interests. *positions — requested list of positions (professions). *group_types — requested list of group types. *religions — requested list of religious commitments. *browsers — requested list of browsers and mobile devices."
          schema:
            type: string
            enum:
              - countries
              - regions
              - cities
              - districts
              - stations
              - streets
              - schools
              - interests
              - positions
              - group_types
              - religions
              - browsers
        -
          in: query
          name: ids
          description: "Objects IDs separated by commas. If the parameter is passed, 'q, country, cities' should not be passed."
          schema:
            type: string
        -
          in: query
          name: q
          description: 'Filter-line of the request (for countries, regions, cities, streets, schools, interests, positions).'
          schema:
            type: string
        -
          in: query
          name: country
          description: 'ID of the country objects are searched in.'
          schema:
            type: integer
        -
          in: query
          name: cities
          description: 'IDs of cities where objects are searched in, separated with a comma.'
          schema:
            type: string
        -
          in: query
          name: lang
          description: 'Language of the returned string values. Supported languages: *ru — Russian,, *ua — Ukrainian,, *en — English.'
          schema:
            type: string
            enum:
              - ru
              - ua
              - en
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                oneOf:
                  -
                    $ref: '#/components/schemas/ads_getSuggestions_response'
                  -
                    $ref: '#/components/schemas/ads_getSuggestions_regions_response'
                  -
                    $ref: '#/components/schemas/ads_getSuggestions_cities_response'
                  -
                    $ref: '#/components/schemas/ads_getSuggestions_schools_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/ads.getTargetGroups:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: client_id
          description: "'Only for advertising agencies.', ID of the client with the advertising account where the group will be created."
          schema:
            type: integer
        -
          in: query
          name: extended
          description: "'1' — to return pixel code."
          schema:
            type: boolean
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getTargetGroups_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.getTargetingStats:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: client_id
          description: 'null'
          schema:
            type: integer
        -
          in: query
          name: criteria
          description: "Serialized JSON object that describes targeting parameters. Description of 'criteria' object see below."
          schema:
            type: string
        -
          in: query
          name: ad_id
          description: 'ID of an ad which targeting parameters shall be analyzed.'
          schema:
            type: integer
        -
          in: query
          name: ad_format
          description: "Ad format. Possible values: *'1' — image and text,, *'2' — big image,, *'3' — exclusive format,, *'4' — community, square image,, *'7' — special app format,, *'8' — special community format,, *'9' — post in community,, *'10' — app board."
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 7
              - 8
              - 9
              - 10
        -
          in: query
          name: ad_platform
          description: "Platforms to use for ad showing. Possible values: (for 'ad_format' = '1'), *'0' — VK and partner sites,, *'1' — VK only. (for 'ad_format' = '9'), *'all' — all platforms,, *'desktop' — desktop version,, *'mobile' — mobile version and apps."
          schema:
            type: string
        -
          in: query
          name: ad_platform_no_wall
          description: 'null'
          schema:
            type: string
        -
          in: query
          name: ad_platform_no_ad_network
          description: 'null'
          schema:
            type: string
        -
          in: query
          name: publisher_platforms
          description: 'null'
          schema:
            type: string
        -
          in: query
          name: link_url
          description: 'URL for the advertised object.'
          schema:
            type: string
        -
          in: query
          name: link_domain
          description: 'Domain of the advertised object.'
          schema:
            type: string
        -
          in: query
          name: need_precise
          description: 'Additionally return recommended cpc and cpm to reach 5,10..95 percents of audience.'
          schema:
            type: boolean
        -
          in: query
          name: impressions_limit_period
          description: 'Impressions limit period in seconds, must be a multiple of 86400(day)'
          schema:
            type: integer
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getTargetingStats_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.getUploadURL:
    get:
      parameters:
        -
          in: query
          name: ad_format
          description: 'Ad format: *1 — image and text,, *2 — big image,, *3 — exclusive format,, *4 — community, square image,, *7 — special app format.'
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 7
        -
          in: query
          name: icon
          description: 'null'
          schema:
            type: integer
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getUploadURL_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/ads.getVideoUploadURL:
    get:
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_getVideoUploadURL_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/ads.importTargetContacts:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: client_id
          description: "'Only for advertising agencies.' , ID of the client with the advertising account where the group will be created."
          schema:
            type: integer
        -
          in: query
          name: target_group_id
          description: 'Target group ID.'
          schema:
            type: integer
        -
          in: query
          name: contacts
          description: 'List of phone numbers, emails or user IDs separated with a comma.'
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_importTargetContacts_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.removeOfficeUsers:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: ids
          description: 'Serialized JSON array with IDs of deleted managers.'
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_removeOfficeUsers_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.updateAds:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: data
          description: "Serialized JSON array of objects that describe changes in ads. Description of 'ad_edit_specification' objects see below."
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_updateAds_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.updateCampaigns:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: data
          description: "Serialized JSON array of objects that describe changes in campaigns. Description of 'campaign_mod' objects see below."
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_updateCampaigns_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                oneOf:
                  -
                    $ref: '#/components/schemas/api_error_ads_partial_success'
                  -
                    $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.updateClients:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: data
          description: "Serialized JSON array of objects that describe changes in clients. Description of 'client_mod' objects see below."
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_updateClients_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.updateOfficeUsers:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: data
          description: "Serialized JSON array of objects that describe added managers. Description of 'user_specification' objects see below."
          schema:
            type: string
            format: json
            items:
              $ref: '#/components/schemas/ads_user_specification'
            minItems: 1
            maxItems: 10
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ads_updateOfficeUsers_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/ads.updateTargetGroup:
    get:
      parameters:
        -
          in: query
          name: account_id
          description: 'Advertising account ID.'
          schema:
            type: integer
        -
          in: query
          name: client_id
          description: "'Only for advertising agencies.' , ID of the client with the advertising account where the group will be created."
          schema:
            type: integer
        -
          in: query
          name: target_group_id
          description: 'Group ID.'
          schema:
            type: integer
        -
          in: query
          name: name
          description: 'New name of the target group — a string up to 64 characters long.'
          schema:
            type: string
        -
          in: query
          name: domain
          description: 'Domain of the site where user accounting code will be placed.'
          schema:
            type: string
        -
          in: query
          name: lifetime
          description: "'Only for the groups that get audience from sites with user accounting code.', Time in days when users added to a retarget group will be automatically excluded from it. '0' - automatic exclusion is off."
          schema:
            type: integer
            minimum: 1
            maximum: 720
        -
          in: query
          name: target_pixel_id
          description: 'null'
          schema:
            type: integer
        -
          in: query
          name: target_pixel_rules
          description: 'null'
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_weighted_flood'
  /method/groups.reorderLink:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'Community ID.'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: link_id
          description: 'Link ID.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: after
          description: "ID of the link after which to place the link with 'link_id'."
          schema:
            type: integer
            minimum: 0
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/groups.search:
    get:
      parameters:
        -
          in: query
          name: q
          description: 'Search query string.'
          schema:
            type: string
        -
          in: query
          name: type
          description: "Community type. Possible values: 'group, page, event.'"
          schema:
            type: string
            enum:
              - group
              - page
              - event
        -
          in: query
          name: country_id
          description: 'Country ID.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: city_id
          description: 'City ID. If this parameter is transmitted, country_id is ignored.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: future
          description: "'1' — to return only upcoming events. Works with the 'type' = 'event' only."
          schema:
            type: boolean
        -
          in: query
          name: market
          description: "'1' — to return communities with enabled market only."
          schema:
            type: boolean
        -
          in: query
          name: sort
          description: "Sort order. Possible values: *'0' — default sorting (similar the full version of the site),, *'1' — by growth speed,, *'2'— by the \"day attendance/members number\" ratio,, *'3' — by the \"Likes number/members number\" ratio,, *'4' — by the \"comments number/members number\" ratio,, *'5' — by the \"boards entries number/members number\" ratio."
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
        -
          in: query
          name: offset
          description: 'Offset needed to return a specific subset of results.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: count
          description: "Number of communities to return. \"Note that you can not receive more than first thousand of results, regardless of 'count' and 'offset' values.\""
          schema:
            type: integer
            default: 20
            minimum: 0
            maximum: 1000
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groups_search_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/groups.setCallbackSettings:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'Community ID.'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: server_id
          description: 'Server ID.'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: api_version
          description: 'null'
          schema:
            type: string
        -
          in: query
          name: message_new
          description: "A new incoming message has been received ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: message_reply
          description: "A new outcoming message has been received ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: message_allow
          description: "Allowed messages notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: message_edit
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: message_deny
          description: "Denied messages notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: message_typing_state
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: photo_new
          description: "New photos notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: audio_new
          description: "New audios notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_new
          description: "New videos notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_reply_new
          description: "New wall replies notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_reply_edit
          description: "Wall replies edited notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_reply_delete
          description: "A wall comment has been deleted ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_reply_restore
          description: "A wall comment has been restored ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_post_new
          description: "New wall posts notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_repost
          description: "New wall posts notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: board_post_new
          description: "New board posts notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: board_post_edit
          description: "Board posts edited notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: board_post_restore
          description: "Board posts restored notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: board_post_delete
          description: "Board posts deleted notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: photo_comment_new
          description: "New comment to photo notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: photo_comment_edit
          description: "A photo comment has been edited ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: photo_comment_delete
          description: "A photo comment has been deleted ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: photo_comment_restore
          description: "A photo comment has been restored ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_comment_new
          description: "New comment to video notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_comment_edit
          description: "A video comment has been edited ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_comment_delete
          description: "A video comment has been deleted ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_comment_restore
          description: "A video comment has been restored ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: market_comment_new
          description: "New comment to market item notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: market_comment_edit
          description: "A market comment has been edited ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: market_comment_delete
          description: "A market comment has been deleted ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: market_comment_restore
          description: "A market comment has been restored ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: market_order_new
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: market_order_edit
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: poll_vote_new
          description: "A vote in a public poll has been added ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: group_join
          description: "Joined community notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: group_leave
          description: "Left community notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: group_change_settings
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: group_change_photo
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: group_officers_edit
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: user_block
          description: 'User added to community blacklist'
          schema:
            type: boolean
        -
          in: query
          name: user_unblock
          description: 'User removed from community blacklist'
          schema:
            type: boolean
        -
          in: query
          name: lead_forms_new
          description: 'New form in lead forms'
          schema:
            type: boolean
        -
          in: query
          name: like_add
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: like_remove
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: message_event
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_create
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_prolonged
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_cancelled
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_price_changed
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_expired
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_money_withdraw
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_money_withdraw_error
          description: 'null'
          schema:
            type: boolean
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_error_not_found'
  /method/groups.setLongPollSettings:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'Community ID.'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: enabled
          description: "Sets whether Long Poll is enabled ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: api_version
          description: 'null'
          schema:
            type: string
        -
          in: query
          name: message_new
          description: "A new incoming message has been received ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: message_reply
          description: "A new outcoming message has been received ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: message_allow
          description: "Allowed messages notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: message_deny
          description: "Denied messages notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: message_edit
          description: "A message has been edited ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: message_typing_state
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: photo_new
          description: "New photos notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: audio_new
          description: "New audios notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_new
          description: "New videos notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_reply_new
          description: "New wall replies notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_reply_edit
          description: "Wall replies edited notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_reply_delete
          description: "A wall comment has been deleted ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_reply_restore
          description: "A wall comment has been restored ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_post_new
          description: "New wall posts notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: wall_repost
          description: "New wall posts notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: board_post_new
          description: "New board posts notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: board_post_edit
          description: "Board posts edited notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: board_post_restore
          description: "Board posts restored notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: board_post_delete
          description: "Board posts deleted notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: photo_comment_new
          description: "New comment to photo notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: photo_comment_edit
          description: "A photo comment has been edited ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: photo_comment_delete
          description: "A photo comment has been deleted ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: photo_comment_restore
          description: "A photo comment has been restored ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_comment_new
          description: "New comment to video notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_comment_edit
          description: "A video comment has been edited ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_comment_delete
          description: "A video comment has been deleted ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: video_comment_restore
          description: "A video comment has been restored ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: market_comment_new
          description: "New comment to market item notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: market_comment_edit
          description: "A market comment has been edited ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: market_comment_delete
          description: "A market comment has been deleted ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: market_comment_restore
          description: "A market comment has been restored ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: poll_vote_new
          description: "A vote in a public poll has been added ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: group_join
          description: "Joined community notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: group_leave
          description: "Left community notifications ('0' — disabled, '1' — enabled)."
          schema:
            type: boolean
        -
          in: query
          name: group_change_settings
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: group_change_photo
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: group_officers_edit
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: user_block
          description: 'User added to community blacklist'
          schema:
            type: boolean
        -
          in: query
          name: user_unblock
          description: 'User removed from community blacklist'
          schema:
            type: boolean
        -
          in: query
          name: like_add
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: like_remove
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: message_event
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_create
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_prolonged
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_cancelled
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_price_changed
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_subscription_expired
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_money_withdraw
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: donut_money_withdraw_error
          description: 'null'
          schema:
            type: boolean
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/groups.setSettings:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: messages
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: bots_capabilities
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: bots_start_button
          description: 'null'
          schema:
            type: boolean
        -
          in: query
          name: bots_add_to_chat
          description: 'null'
          schema:
            type: boolean
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/groups.setUserNote:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: user_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: note
          description: 'Note body'
          schema:
            type: string
            maxLength: 96
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_bool_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/groups.tagAdd:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: tag_name
          description: 'null'
          schema:
            type: string
            maxLength: 20
        -
          in: query
          name: tag_color
          description: 'null'
          schema:
            type: string
            enum:
              - '454647'
              - 45678f
              - 4bb34b
              - 5181b8
              - 539b9c
              - 5c9ce6
              - 63b9ba
              - 6bc76b
              - 76787a
              - 792ec0
              - 7a6c4f
              - 7ececf
              - 9e8d6b
              - a162de
              - aaaeb3
              - bbaa84
              - e64646
              - ff5c5c
              - ffa000
              - ffc107
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_bool_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/groups.tagBind:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: tag_id
          description: 'null'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: user_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 2000000000
        -
          in: query
          name: act
          description: 'Describe the action'
          schema:
            type: string
            enum:
              - bind
              - unbind
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_bool_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/groups.tagDelete:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: tag_id
          description: 'null'
          schema:
            type: integer
            minimum: 0
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_bool_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/groups.tagUpdate:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: tag_id
          description: 'null'
          schema:
            type: integer
            minimum: 0
        -
          in: query
          name: tag_name
          description: 'null'
          schema:
            type: string
            maxLength: 20
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_bool_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
  /method/groups.toggleMarket:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: state
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: ref
          description: 'null'
          schema:
            type: string
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                oneOf:
                  -
                    $ref: '#/components/schemas/api_error_market_shop_already_enabled'
                  -
                    $ref: '#/components/schemas/api_error_market_shop_already_disabled'
  /method/groups.unban:
    get:
      parameters:
        -
          in: query
          name: group_id
          description: 'null'
          schema:
            type: integer
            format: int64
            minimum: 1
        -
          in: query
          name: owner_id
          description: 'null'
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/base_ok_response'
        500:
          description: 'null'
          content:
            application/json:
              schema:
                description: 'null'
components:
  schemas:
    account_account_counters:
      type: object
      properties:
        app_requests:
          type: integer
          description: 'New app requests number'
          minimum: 1
        events:
          type: integer
          description: 'New events number'
          minimum: 1
        faves:
          type: integer
          description: 'New faves number'
          minimum: 1
        friends:
          type: integer
          description: 'New friends requests number'
          minimum: 1
        friends_suggestions:
          type: integer
          description: 'New friends suggestions number'
          minimum: 1
        friends_recommendations:
          type: integer
          description: 'New friends recommendations number'
          minimum: 1
        gifts:
          type: integer
          description: 'New gifts number'
          minimum: 1
        groups:
          type: integer
          description: 'New groups number'
          minimum: 1
        menu_discover_badge:
          type: integer
        menu_clips_badge:
          type: integer
        messages:
          type: integer
          description: 'New messages number'
          minimum: 1
        memories:
          type: integer
          description: 'New memories number'
          minimum: 1
        notes:
          type: integer
          description: 'New notes number'
          minimum: 1
        notifications:
          type: integer
          description: 'New notifications number'
          minimum: 1
        photos:
          type: integer
          description: 'New photo tags number'
          minimum: 1
        sdk:
          type: integer
          description: 'New sdk number'
          minimum: 1
      additionalProperties: false
    account_info:
      type: object
      properties:
        wishlists_ae_promo_banner_show:
          $ref: '#/components/schemas/base_bool_int'
        2fa_required:
          $ref: '#/components/schemas/base_bool_int'
        country:
          type: string
          description: 'Country code'
        https_required:
          $ref: '#/components/schemas/base_bool_int'
        intro:
          $ref: '#/components/schemas/base_bool_int'
        show_vk_apps_intro:
          type: boolean
        mini_apps_ads_slot_id:
          description: 'Ads slot id for MyTarget'
          minimum: 0
          type: integer
        qr_promotion:
          type: integer
          minimum: 0
        link_redirects:
          type: object
        lang:
          type: integer
          description: 'Language ID'
        no_wall_replies:
          $ref: '#/components/schemas/base_bool_int'
        own_posts_default:
          $ref: '#/components/schemas/base_bool_int'
        subscriptions:
          $ref: '#/components/schemas/account_subscriptions'
      additionalProperties: false
    account_name_request:
      type: object
      properties:
        first_name:
          type: string
          description: 'First name in request'
        id:
          type: integer
          description: 'Request ID needed to cancel the request'
        last_name:
          type: string
          description: 'Last name in request'
        status:
          $ref: '#/components/schemas/account_name_request_status'
        lang:
          type: string
          description: 'Text to display to user'
        link_href:
          type: string
          description: 'href for link in lang field'
        link_label:
          type: string
          description: 'label to display for link in lang field'
      additionalProperties: false
    account_name_request_status:
      type: string
      description: 'Request status'
      enum:
        - success
        - processing
        - declined
        - was_accepted
        - was_declined
        - declined_with_link
        - response
        - response_with_link
    account_offer:
      type: object
      properties:
        description:
          type: string
          description: 'Offer description'
        id:
          type: integer
          description: 'Offer ID'
        img:
          type: string
          format: uri
          description: 'URL of the preview image'
        instruction:
          type: string
          description: 'Instruction how to process the offer'
        instruction_html:
          type: string
          description: 'Instruction how to process the offer (HTML format)'
        price:
          type: integer
          description: 'Offer price'
        short_description:
          type: string
          description: 'Offer short description'
        tag:
          type: string
          description: 'Offer tag'
        title:
          type: string
          description: 'Offer title'
        currency_amount:
          type: number
          description: 'Currency amount'
        link_id:
          type: integer
          description: 'Link id'
        link_type:
          type: string
          description: 'Link type'
          enum:
            - profile
            - group
            - app
      additionalProperties: false
    account_push_conversations:
      type: object
      properties:
        count:
          type: integer
          minimum: 0
          description: 'Items count'
        items:
          type: array
          items:
            $ref: '#/components/schemas/account_push_conversations_item'
      additionalProperties: false
    account_push_conversations_item:
      type: object
      properties:
        disabled_until:
          type: integer
          description: 'Time until that notifications are disabled in seconds'
        peer_id:
          type: integer
          description: 'Peer ID'
        sound:
          $ref: '#/components/schemas/base_bool_int'
        disabled_mentions:
          $ref: '#/components/schemas/base_bool_int'
        disabled_mass_mentions:
          $ref: '#/components/schemas/base_bool_int'
      additionalProperties: false
    account_push_params:
      type: object
      properties:
        msg:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_mode'
        chat:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_mode'
        like:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_settings'
        repost:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_settings'
        comment:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_settings'
        mention:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_settings'
        reply:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        new_post:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        wall_post:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        wall_publish:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        friend:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        friend_found:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        friend_accepted:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        group_invite:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        group_accepted:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        birthday:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        event_soon:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        app_request:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
        sdk_open:
          type: array
          items:
            $ref: '#/components/schemas/account_push_params_onoff'
      additionalProperties: false
    account_push_params_mode:
      type: string
      description: 'Settings parameters'
      enum:
        - 'on'
        - 'off'
        - no_sound
        - no_text
    account_push_params_onoff:
      type: string
      description: 'Settings parameters'
      enum:
        - 'on'
        - 'off'
    account_push_params_settings:
      type: string
      description: 'Settings parameters'
      enum:
        - 'on'
        - 'off'
        - fr_of_fr
    account_push_settings:
      type: object
      properties:
        disabled:
          $ref: '#/components/schemas/base_bool_int'
        disabled_until:
          type: integer
          description: 'Time until that notifications are disabled in Unixtime'
        settings:
          $ref: '#/components/schemas/account_push_params'
        conversations:
          $ref: '#/components/schemas/account_push_conversations'
      additionalProperties: false
    account_subscriptions:
      type: array
      items:
        type: integer
    account_user_settings:
      type: object
      allOf:
        -
          $ref: '#/components/schemas/users_user_min'
        -
          $ref: '#/components/schemas/users_user_settings_xtr'
        -
          properties:
            photo_200:
              type: string
              format: uri
              description: 'URL of square photo of the user with 200 pixels in width'
            is_service_account:
              type: boolean
              description: 'flag about service account'
      additionalProperties: false
    account_user_settings_interest:
      type: object
      properties:
        title:
          type: string
        value:
          type: string
      additionalProperties: false
    account_user_settings_interests:
      type: object
      properties:
        activities:
          $ref: '#/components/schemas/account_user_settings_interest'
        interests:
          $ref: '#/components/schemas/account_user_settings_interest'
        music:
          $ref: '#/components/schemas/account_user_settings_interest'
        tv:
          $ref: '#/components/schemas/account_user_settings_interest'
        movies:
          $ref: '#/components/schemas/account_user_settings_interest'
        books:
          $ref: '#/components/schemas/account_user_settings_interest'
        games:
          $ref: '#/components/schemas/account_user_settings_interest'
        quotes:
          $ref: '#/components/schemas/account_user_settings_interest'
        about:
          $ref: '#/components/schemas/account_user_settings_interest'
      additionalProperties: false
    account_changePassword_response:
      type: object
      properties:
        response:
          type: object
          properties:
            token:
              type: string
              description: 'New token'
            secret:
              type: string
              description: 'New secret'
          additionalProperties: false
      additionalProperties: false
    account_getActiveOffers_response:
      type: object
      properties:
        response:
          type: object
          properties:
            count:
              type: integer
              description: 'Total number'
            items:
              type: array
              items:
                $ref: '#/components/schemas/account_offer'
          additionalProperties: false
      additionalProperties: false
    account_getAppPermissions_response:
      type: object
      properties:
        response:
          type: integer
          description: 'Permissions mask'
      additionalProperties: false
    account_getBanned_response:
      type: object
      properties:
        response:
          type: object
          properties:
            count:
              type: integer
              description: 'Total number'
            items:
              type: array
              items:
                format: int64
                type: integer
            profiles:
              type: array
              items:
                $ref: '#/components/schemas/users_user_full'
            groups:
              type: array
              items:
                $ref: '#/components/schemas/groups_group'
          additionalProperties: false
      additionalProperties: false
    account_getCounters_response:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/account_account_counters'
      additionalProperties: false
    account_getInfo_response:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/account_info'
      additionalProperties: false
    account_getProfileInfo_response:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/account_user_settings'
      additionalProperties: false
    account_getPushSettings_response:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/account_push_settings'
      additionalProperties: false
    account_saveProfileInfo_response:
      type: object
      properties:
        response:
          type: object
          properties:
            changed:
              $ref: '#/components/schemas/base_bool_int'
            name_request:
              $ref: '#/components/schemas/account_name_request'
          additionalProperties: false
      additionalProperties: false
    addresses_fields:
      type: string
      enum:
        - id
        - title
        - address
        - additional_address
        - country_id
        - city_id
        - metro_station_id
        - latitude
        - longitude
        - distance
        - work_info_status
        - timetable
        - phone
        - time_offset
    ads_access_role:
      type: string
      description: "Current user's role"
      enum:
        - admin
        - manager
        - reports
    ads_access_role_public:
      type: string
      description: "Current user's role"
      enum:
        - manager
        - reports
    ads_accesses:
      type: object
      properties:
        client_id:
          type: string
          description: 'Client ID'
        role:
          $ref: '#/components/schemas/ads_access_role'
      additionalProperties: false
    ads_account:
      type: object
      properties:
        access_role:
          $ref: '#/components/schemas/ads_access_role'
        account_id:
          type: integer
          description: 'Account ID'
        account_status:
          $ref: '#/components/schemas/base_bool_int'
        account_type:
          $ref: '#/components/schemas/ads_account_type'
        account_name:
          type: string
          description: 'Account name'
        can_view_budget:
          type: boolean
          description: 'Can user view account budget'
      additionalProperties: false
    ads_account_type:
      type: string
      description: 'Account type'
      enum:
        - general
        - agency
    ads_ad:
      type: object
      properties:
        ad_format:
          type: integer
          description: 'Ad format'
        ad_platform:
          type: string
          description: 'Ad platform'
        all_limit:
          type: integer
          description: 'Total limit'
        approved:
          $ref: '#/components/schemas/ads_ad_approved'
        campaign_id:
          type: integer
          description: 'Campaign ID'
        category1_id:
          type: integer
          description: 'Category ID'
        category2_id:
          type: integer
          description: 'Additional category ID'
        cost_type:
          $ref: '#/components/schemas/ads_ad_cost_type'
        cpc:
          type: integer
          description: 'Cost of a click, kopecks'
        cpm:
          type: integer
          description: 'Cost of 1000 impressions, kopecks'
        cpa:
          type: integer
          description: 'Cost of an action, kopecks'
        ocpm:
          type: integer
          description: 'Cost of 1000 impressions optimized, kopecks'
        autobidding_max_cost:
          type: integer
          description: 'Max cost of target actions for autobidding, kopecks'
        disclaimer_medical:
          $ref: '#/components/schemas/base_bool_int'
        disclaimer_specialist:
          $ref: '#/components/schemas/base_bool_int'
        disclaimer_supplements:
          $ref: '#/components/schemas/base_bool_int'
        id:
          type: integer
          description: 'Ad ID'
        impressions_limit:
          type: integer
          description: 'Impressions limit'
        impressions_limited:
          $ref: '#/components/schemas/base_bool_int'
        name:
          type: string
          description: 'Ad title'
        status:
          $ref: '#/components/schemas/ads_ad_status'
        video:
          $ref: '#/components/schemas/base_bool_int'
      additionalProperties: false
    ads_ad_approved:
      type: integer
      description: 'Review status'
      enum:
        - 0
        - 1
        - 2
        - 3
    ads_ad_cost_type:
      type: integer
      description: 'Cost type'
      enum:
        - 0
        - 1
        - 2
        - 3
    ads_ad_layout:
      type: object
      properties:
        ad_format:
          type: integer
          description: 'Ad format'
        campaign_id:
          type: integer
          description: 'Campaign ID'
        cost_type:
          $ref: '#/components/schemas/ads_ad_cost_type'
        description:
          type: string
          description: 'Ad description'
        id:
          type: string
          description: 'Ad ID'
        image_src:
          type: string
          format: uri
          description: 'Image URL'
        image_src_2x:
          type: string
          format: uri
          description: 'URL of the preview image in double size'
        link_domain:
          type: string
          description: 'Domain of advertised object'
        link_url:
          type: string
          format: uri
          description: 'URL of advertised object'
        preview_link:
          type: string
          description: 'link to preview an ad as it is shown on the website'
        title:
          type: string
          description: 'Ad title'
        video:
          $ref: '#/components/schemas/base_bool_int'
      additionalProperties: false
    ads_ad_status:
      type: integer
      description: 'Ad atatus'
      enum:
        - 0
        - 1
        - 2
    ads_campaign:
      type: object
      properties:
        ads_count:
          type: integer
          description: 'Amount of active ads in campaign'
        all_limit:
          type: string
          description: "Campaign's total limit, rubles"
        create_time:
          type: integer
          description: 'Campaign create time, as Unixtime'
        goal_type:
          type: integer
          description: 'Campaign goal type'
        user_goal_type:
          type: integer
          description: 'Campaign user goal type'
        is_cbo_enabled:
          type: boolean
          description: 'Shows if Campaign Budget Optimization is on'
        day_limit:
          type: string
          description: "Campaign's day limit, rubles"
        id:
          type: integer
          description: 'Campaign ID'
        name:
          type: string
          description: 'Campaign title'
        start_time:
          type: integer
          description: 'Campaign start time, as Unixtime'
        status:
          $ref: '#/components/schemas/ads_campaign_status'
        stop_time:
          type: integer
          description: 'Campaign stop time, as Unixtime'
        type:
          $ref: '#/components/schemas/ads_campaign_type'
        update_time:
          type: integer
          description: 'Campaign update time, as Unixtime'
        views_limit:
          type: integer
          description: 'Limit of views per user per campaign'
      additionalProperties: false
    ads_campaign_status:
      type: integer
      description: 'Campaign status'
      enum:
        - 0
        - 1
        - 2
    ads_campaign_type:
      type: string
      description: 'Campaign type'
      enum:
        - normal
        - vk_apps_managed
        - mobile_apps
        - promoted_posts
        - adaptive_ads
        - stories
    ads_category:
      type: object
      properties:
        id:
          type: integer
          description: 'Category ID'
          minimum: 1
        name:
          type: string
          description: 'Category name'
        subcategories:
          type: array
          items:
            $ref: '#/components/schemas/ads_category'
      additionalProperties: false
    ads_client:
      type: object
      properties:
        all_limit:
          type: string
          description: "Client's total limit, rubles"
        day_limit:
          type: string
          description: "Client's day limit, rubles"
        id:
          type: integer
          description: 'Client ID'
        name:
          type: string
          description: 'Client name'
      additionalProperties: false
    ads_create_ad_status:
      type: object
      properties:
        id:
          type: integer
          minimum: 0
          description: 'Ad ID'
        post_id:
          type: integer
          minimum: 0
          description: 'Stealth Post ID'
        error_code:
          type: integer
          minimum: 0
          description: 'Error code'
        error_desc:
          type: string
          description: 'Error description'
      additionalProperties: false
    ads_create_campaign_status:
      type: object
      properties:
        id:
          type: integer
          minimum: 0
          description: 'Campaign ID'
        error_code:
          type: integer
          minimum: 0
          description: 'Error code'
        error_desc:
          type: string
          description: 'Error description'
      additionalProperties: false
    ads_criteria:
      type: object
      properties:
        age_from:
          type: integer
          description: 'Age from'
          minimum: 0
        age_to:
          type: integer
          description: 'Age to'
          minimum: 0
        apps:
          type: string
          description: 'Apps IDs'
        apps_not:
          type: string
          description: 'Apps IDs to except'
        birthday:
          type: integer
          description: 'Days to birthday'
        cities:
          type: string
          description: 'Cities IDs'
        cities_not:
          type: string
          description: 'Cities IDs to except'
        country:
          type: integer
          description: 'Country ID'
          minimum: 0
        districts:
          type: string
          description: 'Districts IDs'
        groups:
          type: string
          description: 'Communities IDs'
        interest_categories:
          type: string
          description: 'Interests categories IDs'
        interests:
          type: string
          description: Interests
        paying:
          $ref: '#/components/schemas/base_bool_int'
        positions:
          type: string
          description: 'Positions IDs'
        religions:
          type: string
          description: 'Religions IDs'
        retargeting_groups:
          type: string
[...]
